$bgcolor: #726255;
$gryffindor: #740001;
$gryffindorborder: #d3a625;
$ravenclaw:#0e1a40;
$ravenclawborder:#946b2d;
$hufflepuff:#ecb939;
$hufflepuffborder:#372e29;
$hufflepufftext: #372E29;
$slytherin:#1a472a;
$slytherinborder: #aaaaaa;



$font: 'Pirata One', cursive;