$bgcolor: #726255;
$gryffindor: #740001;
$gryffindorborder: #d3a625;
$ravenclaw:#0e1a40;
$ravenclawborder:#946b2d;
$hufflepuff:#ecb939;
$hufflepuffborder:#372e29;
$hufflepufftext: #372E29;
$slytherin:#1a472a;
$slytherinborder: #aaaaaa;



$fontHeaders: 'Pirata One', cursive;
$fontUnderRubrik: 'Lobster', cursive;
$fontInfo: 'DM Serif Display', serif;

@import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pirata+One&display=swap);