@forward 'globals';
@forward 'layout';

@use 'util' as u;

body{
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: u.$bgcolor;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4em 0 4em 0;

    @include u.breakpoint(medium){
        padding: 3em 0 3em 0;
    }
}

button{
    font-family: u.$fontHeaders;
    background-color: #F6DC4F;
    border-radius: 20px;
    width: 20rem;;
    height: 5rem;
    font-size: 36px;
    border: 3px outset grey;
    align-self: center;

    &:active{
        position: relative;
        left: 3px;
        top: 3px;
    }
    
    &:hover{
        cursor: pointer;
        box-shadow: 0 5px 25px 0;
    }

    @include u.breakpoint(medium){
        width: 10rem;
        height: 2.5rem;
        font-size: 24px;
    }
}

.charCard{
    display: flex;
    flex-direction: column;
    border: 10px solid u.$gryffindorborder;
    padding: 0 3em 0 3em;
    background-color: u.$gryffindor;
    align-items: center;
    font-size: 17px;
    color: #ffff;
    margin: 0 auto;
    height: fit-content;

    li{
        font-family: u.$fontInfo;

    }

    p{
        @extend li
    }

}

.spellCard{
    display: flex;
    flex-direction: column;
    border: 10px solid u.$hufflepuffborder;
    padding: 0 2em 0 2em;
    background-color: u.$hufflepuff;
    color: #ffff;
    font-size: 17px;
    align-items: center;
    margin: 0 auto;
    height: fit-content;

    li{
        font-family: u.$fontInfo;

    }
    
    p{
        @extend li
    }
}

.favoriteCard{
    display: flex;
    flex-direction: column;
    border: 10px solid u.$slytherinborder;
    padding: 0 3em 0 3em;
    background-color: u.$slytherin;
    color: #ffff;
    font-size: 17px;
    align-items: center;
    margin: 0 auto;
    max-height: fit-content;

    img{
        width: 30%;
        height: 40%;
    }

    li{
        font-family: u.$fontInfo;

    }
    
    p{
        @extend li
    }

    .deleteButton{
        font-size: 20px;
        height: fit-content;
        width: fit-content;
    }
}

.houseCardSection{
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1em;
    align-items: center;
    margin: 0 auto;
    font-size: 17px;
    height: fit-content;
    max-width: 30em;
    
    img {
        width: 30%;
        height: 40%;
    }

    p{
        word-wrap: break-word;
        display: flex;
        flex-wrap: wrap;
        font-family: u.$fontInfo;
    }
    
}

.allHousesSection{
    display: flex;
    flex-direction: column;
    color: #ffff;
    margin: 0 auto;
}

.hidden{
    display: none;
}

section{
    ul{
        p{
            cursor: pointer;
        }
    }
}

.imagesSection{
    
    display: flex;
    flex-direction: row;
    
    gap: 5em;
    
    flex-wrap: wrap;

    @include u.breakpoint(medium){
        gap: 4em;
        justify-content: center;
    }
}

.gryffindor{
    background-color: u.$gryffindor;
    border: 10px solid u.$gryffindorborder;
    color: #ffff;

}

.slytherin{
    background-color: u.$slytherin;
    border: 10px solid u.$slytherinborder;
    color: #ffff;
    
}

.ravenclaw{
    background-color: u.$ravenclaw;
    border: 10px solid u.$ravenclawborder;
    color: #ffff;
}

.hufflepuff{
    background-color: u.$hufflepuff;
    border: 10px solid u.$hufflepuffborder;
    color: u.$hufflepufftext;
} 

.hogwarts{
    &.charCard{
        background-color: u.$gryffindor;
        border:10px solid u.$gryffindorborder;
    }

    &.spellCard{
        background-color: u.$slytherin;
        border:10px solid u.$slytherinborder;
    }

    &.favoriteCard{
        background-color: u.$hufflepuff;
        border:10px solid u.$hufflepuffborder;
        color: u.$hufflepuffborder;
    }
}

.radioSection{
    display: flex;
    font-size: 16px;
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;

    @include u.breakpoint(medium){
        flex-direction: column;
    }
}

p{
    img{
        width: 10em;
        height: 10em;
    }
    button{
        font-size: 20px;
        height: fit-content;
        width: fit-content;
    }
}
