@forward 'globals';
@forward 'layout';

@use 'util' as u;

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: u.$bgcolor;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button{
    font-family: u.$fontHeaders;
    background-color: #F6DC4F;
    border-radius: 20px;
    width: 15rem;;
    height: 3rem;
    font-size: 30px;
    border: 3px outset grey;
    align-self: center;

    &:active{
        position: relative;
        left: 3px;
        top: 3px;
    }
    
    &:hover{
        cursor: pointer;
        box-shadow: 0 5px 25px 0;
    }
}

.charCard{
    display: flex;
    flex-direction: column;
    border: 10px solid u.$gryffindorborder;
    padding: 0 3em 0 3em;
    background-color: u.$gryffindor;
    align-items: center;
    font-size: 20px;
    color: #ffff;
    margin: 0 auto;
    height: fit-content;

    li{
        font-family: u.$fontInfo;

    }

    p{
        @extend li
    }
}

.spellCard{
    display: flex;
    flex-direction: column;
    border: 10px solid u.$hufflepuffborder;
    padding: 0 2em 0 2em;
    background-color: u.$hufflepuff;
    color: #ffff;
    font-size: 20px;
    align-items: center;
    margin: 0 auto;
    height: fit-content;

    li{
        font-family: u.$fontInfo;

    }
    
    p{
        @extend li
    }
}

.favoriteCard{
    display: flex;
    flex-direction: column;
    border: 10px solid u.$slytherinborder;
    padding: 0 3em 0 3em;
    background-color: u.$slytherin;
    color: #ffff;
    font-size: 20px;
    align-items: center;
    margin: 0 auto;
    max-height: fit-content;

    li{
        font-family: u.$fontInfo;

    }
    
    p{
        @extend li
    }
}

.houseCardSection{
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1em;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
    height: fit-content;
    
    img {
        width: 35%;
        height: 45%;
    }

    p{
        word-wrap: break-word;
        display: flex;
        flex-wrap: wrap;
        font-family: u.$fontInfo;
    }
    
}

.allHousesSection{
    display: flex;
    flex-direction: column;
    color: #ffff;
}

.hidden{
    display: none;
}

section{
    ul{
        p{
            cursor: pointer;
        }
    }
}