@forward 'globals';
@forward 'layout';

@use 'util' as u;

body{
    background-color: u.$bgcolor;
}

.container{
    display: flex;
    flex-direction: column;
}

button{
    font-family: u.$font;
    background-color: #F6DC4F;
    border-radius: 20px;
    width: 20rem;;
    height: 3rem;
    font-size: 30px;
    border: 3px outset grey;
    align-self: center;

    &:active{
        position: relative;
        left: 3px;
        top: 3px;
    }
    
    &:hover{
        cursor: pointer;
        box-shadow: 0 5px 25px 0;
    }
}